/* Stardust colorscheme by stardust-kyun */

:root {
  --base00: #000000;
  --base01: #121212;
  --base02: #222222;
  --base03: #333333;
  --base04: #505754;
  --base05: #c8c8c8;
  --base06: #dedede;
  --base07: #eaeaea;
  --base08: #824655;
  --base09: #8f534d;
  --base0A: #827d50;
  --base0B: #468264;
  --base0C: #327d7d;
  --base0D: #326482;
  --base0E: #645078;
  --base0F: #785d50;
}
