/* Override this file to customise the theme's CSS for your site */
@import "fake-terminal.css";

/* <-- Font Definitions --> */
  @font-face {
    font-family: 'stranded';
    src: local('strandedttf'),
    url('./stranded-normal-normal-normal-8x16.ttf');
    font-weight: normal;
  }

  @font-face {
    font-family: 'beached';
    src: local('beachedttf'),
    url('./beached-normal-normal-normal-8x16.ttf');
    font-weight: normal;
}

/* <-- CSS Overrides --> */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'beached' !important;
  font-size: 16px !important;
  font-weight: normal !important;
}

body {
  font-size: 16px !important;
  font-smooth: never;
  -webkit-font-smoothing : none;
}
p strong,
p a {
  font-family: 'beached';
  font-weight: normal;
}

/* Body + aside */
.page__body {
    grid-area: body;
    background-color: var(--bg);
    padding: 1rem;
    border: solid 1px var(--inner-bg);
    box-shadow: none;
    overflow-wrap: break-word;
}

:root {
  --font-monospace: 'stranded', monospace !important;
}
