/* Rose Pine theme ported to tailwind */
:root { --color-neutral: 232,230,250;
--color-neutral-50:     224,222,244;
--color-neutral-100:    214, 212, 241;
--color-neutral-200:    198, 194, 235;
--color-neutral-300:    110, 106, 134;
--color-neutral-400:    82,79,103;
--color-neutral-500:    64,61,82;
--color-neutral-600:    38,35,58;
--color-neutral-700:    33,32,46;
--color-neutral-800:    20,18,31;
--color-neutral-900:    31,29,46;
--color-primary-50:     246, 190, 206;
--color-primary-100:    243, 171, 191;
--color-primary-200:    241, 152, 177;
--color-primary-300:    238, 134, 163;
--color-primary-400:    244,178,197;
--color-primary-500:    236, 115, 149;
--color-primary-600:    233, 96, 135;
--color-primary-700:    225,39,92;
--color-primary-800:    230, 78, 121;
--color-primary-900:    230, 78, 121;
--color-secondary-50:     200, 226, 236;
--color-secondary-100:    184, 217, 231;
--color-secondary-200:    168, 209, 225;
--color-secondary-300:    152, 200, 220;
--color-secondary-400:    136, 192, 214;
--color-secondary-500:    120, 183, 209;
--color-secondary-600:    105, 175, 203;
--color-secondary-700:    89, 167, 198;
--color-secondary-800:    73, 158, 193;
--color-secondary-900:    62, 148, 182;
}
